h2,
p {
    margin: 0px;
    padding: 0px;
}

ion-content {
    --background: #fff;
    font-family: Poppins;
    $primary: radial-gradient(1195.49% 255.66% at 11.94% -0.00%, #173967 0%, #000 100%);
    $border-clr: #D3D3D3;

    .date {
        background-color: #E3E9F2;
        padding: 9px 20px 8px 25px;
        display: flex;
        justify-content: space-between;

        #p1 {
            color: #000;
            font-size: 15px;
            font-weight: 400;
        }

        #p2 {
            color: #0C213C;
            font-size: 15px;
            font-weight: 600;
        }
    }

    .details {
        padding: 16px 25px;

        h2 {
            font-size: 18px;
            font-weight: 600;
            padding-bottom: 16px;
            border-bottom: 1px solid $border-clr ;
        }

        .row-1 {
            display: flex;
            justify-content: space-between;
            margin-top: 9px;

            span {
                color: #444;
                font-size: 14px;
                font-weight: 500;
            }
        }

        .row-2 {
            display: flex;
            justify-content: space-between;
            color: rgba(0, 0, 0, 0.55);
            font-size: 12px;
            font-weight: 400;
            margin-top: 2px;

            section {
                display: flex;
                align-items: center;
            }

            section span {
                margin-left: 6px;
            }
        }

        .box {
            margin-top: 16px;
            padding: 10px 15px 12px 15px;
            border: 1px solid #E9E9E9;
            border-radius: 10px;

            .row-3,
            .row-4 {
                display: flex;
                justify-content: space-between;
            }

            .row-3 span {
                color: #444;
                font-size: 18px;
                font-weight: 700;
            }

            .row-4 span {
                color: #0C213C;
                font-size: 12px;
                font-weight: 400;
            }

            a {
                color: #181F29;
                font-size: 12px;
                font-weight: 500;
                text-decoration-line: underline;
            }
        }

        .map {
            height: 277px;
            margin-top: 15px;
        }

        .cancel-btn {
            width: 100%;
            padding: 10px;
            border: 2px solid #0C213C;
            color: #0C213C;
            border-radius: 10px;
            background: #fff;
            margin-top: 16px;
        }

        .next-btn {
            width: 100%;
            padding: 10px;
            border: 2px solid #0C213C;
            border-radius: 10px;
            color: #fff;
            background: $primary;
            margin-top: 15px;
        }
    }




}

